configuration {
    modi: "drun,run,window";
    font: "JetBrainsMono Nerd Font 14";
    show-icons: true;
    display-drun: "Apps";
    display-run: "Run";
    display-window: "Window";
    kb-clear-line: "";

    kb-accept-entry: "Return,KP_Enter";
    kb-row-down: "Down,Control+j";
    kb-remove-to-eol: "";
    kb-row-up: "Up,Control+k";
}
@theme "solarized"
