[Unit]
Description=Obsidian Git Backup
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=%h/develop/bin/obsidian-git-backup.sh


[Install]
WantedBy=default.target
